* {
    margin: 0;
    padding: 0;
}

img {
    position: fixed;
}

.clip {
    transition-property: all;
    transition-duration: 200ms;
}

.clip:hover {
    cursor: pointer;
    scale: 1.05;
    z-index: 3 !important;
}

.clip:hover:not(.nohover) {
    filter: saturate(1) !important;
    opacity: 0.75 !important;
}

#img-stack {
    display: flex;
    justify-content: center;
}

#img-stack > * {
    max-width: 100vw;
    max-height: 100vh;
}